<table class="table table-hover animate__animated animate__fadeIn">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Pais</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises">
            <td>1</td>
            <td>{{pais.flag}}</td>
            <td>{{pais.name.common}} -- {{pais.capital}}</td>
            <td>{{pais.population | number}}</td>
        </tr>
    </tbody>
</table>
