
<div class="row">
    <!-- <ul>
        <li *ngFor="let gif of resultados;">
            {{gif.imagenes}}
        </li>
    </ul> -->

    <div class="col-md-4 col-sm-6 animate__fadeIn" *ngFor="let gif of resultados;">
        <div class="card">
            <div class="card-body">
                <div class="card-text">                    
                    <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="card-img-top">
                    <P class="card-text text-center">{{gif.title}}</P>
                </div>                
            </div>            
        </div>        
    </div>

</div>
