<h2>Busqueda</h2>
<hr>
<ul class="list-group" style="cursor: pointer;">
  <li routerLink="gifs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Buscar Gifs</li>
  <ul class="list-group-item">Paises
      <li routerLink="por-pais" routerLinkActive="active" class="list-group-item">Buscar Pais</li>
      <li routerLink="por-region" routerLinkActive="active" class="list-group-item">Por Región</li>
      <li routerLink="por-continente" routerLinkActive="active" class="list-group-item">Por Continente</li>
  </ul>
</ul>

